.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.board-container {
  background: grey;
  border: 1px solid black;
  width: 150px;
  height: 150px;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
} 

.tile-container {
  background: purple;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center; 
}

.board-one { width: 50px; height: 50px; }
.board-two { width: 100px; height: 100px; }
.board-three { width: 150px; height: 150px; }
.board-four { width: 200px; height: 200px; }
.board-five { width: 250px; height: 250px; }

.tile-empty { background: white; }
.tile-two { background: red; }
.tile-four { background: orange; }

.board-picker {
  margin-bottom: 1em;
}
.chosen-grid { color: grey }
.grid-style { 
  cursor: pointer;
  margin-left: 1em;
  padding-right: 1em;
}
.grid-border {
  border-right: 1px solid white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
